// Colors
$color-white          : hsl(0, 0%, 100%);
$color-gray-light     : #d9e1e8;
$color-gray-medium    : #9baec8;
$color-gray-dark      : #1f232b;
$color-black          : hsl(0, 0%, 0%);
$color-red            : hsl(0, 75%, 45%);
$color-green          : hsl(150, 60%, 45%);
$color-blue           : hsl(200, 70%, 45%);
$color-yellow         : hsl(50, 90%, 45%);
$color-purple         : hsl(280, 40%, 45%);
$color-violet         : hsl(330, 50%, 45%);
$color-brown          : hsl(20, 40%, 45%);
$color-primary        :  #3c99dc;
$color-accent         :  #4ea2df;

// Fonts
$font-serif           : "Roboto Slab", "Times New Roman", "Times", serif;
$font-sans-serif      : "Roboto", "Arial Narrow", "HelveticaNeue", sans-serif;
$font-monospace       : "Ubuntu Mono", "Consolas", "Monaco", monospace;

// Root Element Selector
$root-selector        : "";
$print-only-root      : false;

// Transition
$transition-duration  : 250ms;